/* Estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
  }
  
  /* Encabezado */
  header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
  header a:hover {
    color: #e63946; /* Rojo para los enlaces */
  }
  
  /* Hero Section */
  .hero {
    background-color: #e63946;
    color: #fff;
    padding: 80px 0;
  }
  
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.25rem;
  }
  
  /* Sección de Introducción */
  section h3 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }
  
  section img {
    border-radius: 10px;
  }
  
  /* Movimientos Artísticos */
  #movimientos {
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    color: #000;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #666;
  }
  
  .card-body {
    background-color: #fff;
  }
  
  .btn-primary {
    background-color: #e63946;
    border-color: #e63946;
  }
  
  .btn-primary:hover {
    background-color: #d62828;
    border-color: #d62828;
  }
  
  /* Galería */
  #galeria {
    padding: 50px 0;
  }
  
  .carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 2rem;
    color: #fff;
  }
  
  .carousel-caption p {
    font-size: 1.25rem;
    color: #fff;
  }
  
  /* Footer */
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
  }
  
  footer p {
    font-size: 0.9rem;
  }
  
  /* Formulario de contacto */
  #contacto {
    background-color: #333;
    padding: 50px 0;
  }
  
  #contacto form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #contacto input,
  #contacto textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #contacto button {
    background-color: #e63946;
    border-color: #e63946;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  #contacto button:hover {
    background-color: #d62828;
    border-color: #d62828;
  }
  
  /* Estilos Responsivos */
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 2.5rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  
    section h3 {
      font-size: 1.5rem;
    }
  }
  